*{
    margin: 0px;
}

@font-face{
    font-family: Sriracha;
    src: url('../fonts/Sriracha/Sriracha-Regular.ttf');
}
@font-face{
    font-family: Pacifico;
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}

body{
    background-color: silver;
    font-family: Sriracha;
}
.encabezado{
    display: block;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(0,0,0,1) 100%);
    padding-top:10px;
}

.fecha, .redes_sociales{
    display: block;
    float: left;
}

.fecha{
    display: block;
    margin-left: 0px;
    width: 50%;
    color: white;
}

.redes_sociales{
    display: block;
    width: 45%;
    text-align: right;
}
.clearfix{
    float: none;
    clear: both;
}
/**header**/
header{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: auto;
}
/**menu**/
.main{
    width: 90%;
    margin: 0 auto;
}

.menu-main{
    display: block;
    width: 100%;
}

.menu{
    display: block;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,41,41,1) 100%, rgba(226,41,41,1) 100%);
}
.menu ul{
    padding-left: 0px;
}

.menu ul li {
    display: block;
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
}

.menu ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.menu ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
}

/**contenido**/

.contenido{
    display: block;
    width: 100%;
    background-color: white;
}

.contenido-principal{
    display: block;
    float: left;
    width: 100%;
    background-color: rgb(83, 83, 83);
}

.n1{
    display: block;
    margin: 20px;
}

.n1-contenido{
    display: block;
    width: 100%;
}

.n1-contenido a img{
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px;
}

.prueba{
    display: block;
    width: 80%;
    height: 280px;
    float: left;
    padding-left: 7%;
}
.ntitulo{
    display: block;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(226,41,41,1) 50%, rgba(36,0,0,1) 100%);
    border: white;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parrafo{
    display: block;
    width: 80%;
    text-align: justify;
    color: white;
    margin-top: 52%;
    padding-left: 10%;
}

/**barra inferior**/


.barra-inferior{
    display: block;
    width: 25%;
    float: left;
    margin-top: 35px;
}

.noticias-bi{
    display: block;
    width: 100%;
    float: left;
    padding-left: 3px;
}

.noticias-bi a img{
    width: 215%;
    height: 180px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 3px;
}

.noticias-bi{
    display: block;
    width: 45%;
    float: left;
    border: white;
}

.bi-titulo{
    display: block;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: left;
    padding-left: 50%;
    margin-top: 2px;
}

/**FOOTER**/
footer{
    display: block;
    width: 100%;
    background: rgb(37,43,159);
    background: linear-gradient(90deg, rgba(37,43,159,1) 0%, rgba(0,0,0,0.865983893557423) 50%, rgba(37,43,159,1) 100%);
    text-align: center;
    color: white;
}

.efecto img{
    transition: 0.2s;
}
.efecto img:hover{
    transform: scale(1.03);
}